button{
    background-color: $Primary;
    padding: .8rem 4rem;
    color: $White;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all $transition;

    &:hover{
        background-color: $PrimaryDark;
    }
}