@import "./variables.scss";

.Gallery {

    &__BackgroundImage{
        position: relative;
        height: 30rem;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        // margin-bottom: 5rem;
    }

    &__TitleWrapper{
        position: absolute;
        @include bgColorOpacity($Primary, .7);
        width: 30%;
        top: 44%;
        left: 0;
    }

    &__Title{
        position: relative;
        color: white;
        @include pageTitle;
        padding: 1.5rem 0 1.5rem 3rem;
        margin: 0;
        font-weight: 400;
    }

    &__CardImageWrapper {
        height: 25rem;
        width: 100%;
        // border: 1px solid green;
        
    }

    &__Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px 0px 0px 0px;

    }

    &__ContentWrapper{
        padding: $spacingXs;
    }

    &__List{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        // border: 1px solid red;
        justify-content: space-between;
        padding: 5rem 5rem 10rem 5rem;
        background-color: white;
        // justify-content: space-evenly;
        
    }

    &__ListItem{
        width: 100%;
        max-width: 30%;
        margin-right: 4rem;
        margin-bottom: 5rem;
        background-color: $White;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        border-radius: 40px 0px 40px 0px;
        
        
        &:not(last-of-type){
            margin-right: 0rem;
        }
    }
    
    &__CardListItem{
        flex: 1 1 30%;  
        // border: 2px solid $primary;
        border-radius: 40px 0px 0px 0px;
    }
    
    &__CardList{
        list-style: none;
        display: flex;
        flex-direction: column;    
    }

    &__CardTitle{
        padding: 1.5rem 0 1rem 0;
        color: $Primary;
        @include h2;
        font-weight: 700 !important;
    }

    &__CardExcerpt{
        // padding: 0 0 1rem 0;
        @include h3;
    }

    &__StaffBox{
        background-color: $White;
        padding: $spacingM 5rem 0 $spacingM * 2; 
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-left-radius: 5rem;
        margin-right: 5rem; 

        // a:first-child{
        //     margin-right: 5rem !important;
        // }

    }

    // &__Button:first-child{
    //     margin-right: 5rem;
    // }
    
    &__StaffTitle{
        // display: block;
        @include h3;
        font-weight: 700;
        margin-bottom: $spacingM;
        color: $Primary;
    }
    
    &__ButtonsWrapper{
        border-bottom: 3px solid $Primary;
        padding-bottom: $spacingM;
    }

    &__Button{
        display: inline-block;
        @include button;
        @include h3;

        &:not(:last-child){
            margin-right: $spacingXs;
        }

        // &:first-child{
        // }
    }

    // &__Button:first-child{
    //     margin-bottom: 2rem;
    // }
    
}
