@import "./variables.scss";

.ArchiveHarbor {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacingL*2 $spacingL*2 $spacingL * 4 $spacingL*2;
    
    &__HarborCard{
        position: relative;
        height: 40rem;
        min-width: 35rem;
        flex: 1 1 40rem;
        margin-right: $spacingL;
        background-size: cover !important;
        &:last-child{
            margin-right: 0;
        }
        overflow: hidden;
    }

    &__HarborLink{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &__ContentWrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        // height: 100%;
        @include bgColorOpacity($White, .9);
        padding: $spacingM;
        display: block;
    }

    &__Title {
        font-size: 2.5rem;
        color: $Primary;
        margin-bottom: $spacingS;
    }

    &__AmenitieList{
        // background-color: $Lightgray;
        list-style: none;
        // padding: $spacingXs;
        // border: 1px solid blue;
        // display: block;
        display: flex;
        // flex-direction: row;
        margin-right: $spacingL;
        flex-wrap: wrap;
        margin-bottom: $spacingS;
        
    }

    &__AmenitieListItem{
        max-width: 45%;
        flex: 1 1 50%;
        display: flex;
        align-items: center;
        @include listItem;
        margin-bottom: $spacingXxs;
        // border: 1px solid red;
        // display: inline-block;

        i{
            margin-right: $spacingXs;
            font-size: 1.2rem;
            width: 2rem;
            display: inline-block;
            text-align: center;
        }
    }

    &__BookButton{
        @include button;
        display: inline-block;
        position: relative;
        z-index: 10;
    }
    

    &__EventListItem{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        @include listItem;
        // margin-bottom: $spacingXs;
        padding: $spacingXs $spacingXs $spacingXs $spacingM;
        // padding-bottom: $spacingXs;
        border-bottom: 1px solid $Primary;
        
        &:last-child{
            border-bottom: none;
        }
    }

    &__DateAndEventTitleWrapper{
        display: flex;
        flex-direction: column;
    }
    &__EventDay{
        @include h3;
    }
    &__EventMonth{
        @include h3;

    }
    &__EventTitle{
        @include h3;
        text-transform: uppercase;

    }
    &__EventThumbnailWrapper{
        display: flex;
        align-items: center;
        width: 7.5rem;
        height: 7.5rem;
    }
    &__EventThumbnail{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__EventTitle{
        @include h3;
        text-transform: uppercase;
    }

    &__PostListItem{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        @include listItem;
        padding: $spacingXs $spacingXs $spacingXs $spacingM;
        border-bottom: 1px solid $Primary;
        
        &:last-child{
            border-bottom: none;
        }
    }

    &__PostTextWrapper{
        display: flex;
        flex-direction: column;
        width: calc(100% - 7.5rem);
        margin-right: $spacingS;
    }
    &__PostTitle{
        margin-bottom: $spacingXxs;
        @include h4;
    }
    &__PostContent{
        @include p;
    }

    &__PostThumbnailWrapper{
        display: flex;
        align-items: center;
        width: 7.5rem;
        height: 7.5rem;
    }
    &__PostThumbnail{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__AmenitieLink{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &__EventList,
    &__PostList{
        list-style: none;
    }

    &__PostListItem,
    &__EventListItem{
        background-color: $Lightgray;
        transition: all $transition;
        position: relative;

        &:hover{
            background-color: $White;
            
            &::after{
                border-left: 3px solid $Primary;
            }
        }

        &::after{
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 0;
        }
    }

    &__Carousel{
        // border: 1px solid red;
        width: 100%;
        margin: 0 0 $spacingL* 3 0;

        img{
            width: 100% !important;
            height: 35rem !important;
            object-fit: cover;
        }
    }

    &__SectionHeader{
        @include h2;
        color: $Primary;
        margin-bottom: $spacingL;
        text-align: left;
        align-self: flex-start;
    }





}

