.mphb-flexslider.mphb-gallery-slider:first-child{
    height: 25rem !important;
    overflow: hidden;
    border: 1px solid red;

    *{
        height: 100% !important;
    }
    img{
        object-fit: cover !important;
        object-position: center !important;
    }

    a.flex-next,
    a.flex-prev{
        font-size: 0;
    }

}