.SearchResults {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
    // padding: 0 4rem;
    // &__Post {
    //     padding: 0 2rem;
    //     background: mediumseagreen;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     font-size: 2rem;
    //     font-weight: 700;
    //     margin-bottom: 3rem;
    //     position: relative;
    // }

    &__Title {
        font-size: 2.5rem;
        border: 1px solid black;
    }

    &__Text {
        font-size: 2rem;
    }

    &__FormWrapper {
        width: 100%;
        // border: 1px solid blue;
    }
    .testwrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .innerwrapper {
        // width: 50%;
        // padding: 2rem 4rem;
        flex: 1 1 40%;
        max-width: 50%;
        margin: 0 2rem;
    }
    .mphb_sc_search_results-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 $spacingS;
    }

    .mphb-room-type {
        padding: $spacingXs $spacingS $spacingXl;
        // border: 2px solid $Primary;
        margin-top: 0 !important;
        max-width: 45%;
        min-width: 32rem;
        flex: 1 1 40%;
        margin-bottom: $spacingL;
        border-radius: .5rem;
        @include bgColorOpacity($Lightgray, .4);
    }
    
    .flexslider{
        border: 4px solid rgba(216, 227, 236, .4);
        @include bgColorOpacity($Lightgray, .4);
        // color: rgba(216, 227, 236, .4);
    }

    .mphb-room-type-details-title{
        display: none;
    }

    .mphb_sc_search_results-info{
        display: none;
    }

    .mphb-view-details-button-wrapper{
        display: none;
    }

    .mphb-room-type-title{
        @include h2;
        color: $Primary;
        margin-bottom: $spacingXxs;
    }

    .mphb-reservation-cart{
        display: none;
    }

    .mphb-flexslider ul.slides img {
        width: 100% !important;
    }

    .mphb-flexslider.mphb-gallery-slider:first-child{
        height: 25rem !important;
        overflow: hidden;
        // border: 1px solid red;
    
        *{
            height: 100% !important;
        }
        img{
            object-fit: cover !important;
            object-position: center !important;
        }
    
        a.flex-next,
        a.flex-prev{
            font-size: 0;
        }
    
    }

    .mphb-room-type-images{
        margin-bottom: $spacingS;
    }
    
    .mphb-rooms-quantity-wrapper{
        
        
    }

    input{
        margin-bottom: $spacingS;
        
    }
    
    .mphb-rooms-quantity-wrapper.mphb-rooms-quantity-multiple{
        @include p;
        margin-bottom: $spacingM;
    }

    select{
        // padding: 0 $spacingXxs;
        border-radius: .4rem;
    }

    .detailFlexWrapper{
        display: flex;
        margin-bottom: $spacingS;
    }

    .button{
        background-color: $Primary;
        padding: .8rem 4rem;
        color: $White;
        font-weight: 500;
        border: none;
        cursor: pointer;
        transition: all $transition;

        &:hover{
            background-color: $PrimaryDark;
        }
    }

    .detailToFlex{
        flex: 1 1 40%;
        @include p;
        margin-right: $spacingL; 
        
        &:first-child{
            margin-right: $spacingL; 
            flex: 1 1 60%;
        }

        .priceString{
            align-self: flex-end;
            text-align: right;
            width: 100%;
            margin-right: 5rem;
            @include h3;
            font-weight: 500;
            color: $Primary;
            display: block;
            margin-bottom: 1.5rem;
        }
    }


}
