.Search{
    display: flex;
    flex-direction: row;
    // align-items: center;
    width: 100%;
    // border: 1px solid red;

    &__BackgroundImageWrapper{
        // z-index: 10;
    }
    
    &__BackgroundImage{
        box-shadow: inset 0px -10px 10px -10px rgba(0,0,0, .5);
        position: relative;
        height: 20rem;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        // margin-bottom: 2rem;

        &--FrontPage{
            // height: 15rem;
        }
    }

    &__TitleWrapper{
        // position: absolute;
        // @include bgColorOpacity($Primary, .7);
        // width: 70%;
        // top: 44%;
        // left: 0;
    }
    
    &__SearchList{
        display: flex;
        flex-direction: column;
    }   

    &__Title{
        position: absolute;
        color: white;
        @include h1;
        @include bgColorOpacity($Primary, .7);
        padding: 1.5rem 5rem 1.5rem 10rem;
        margin: 0;
        font-weight: 400;
        top: 44%;
        left: 0;
        box-shadow: 5px 5px 10px rgba(0,0,0, .5);
        z-index: 10;
    }

    &__QueryString{
        font-size: 2.5rem;
    }

    &__ResultCardsWrapper{
        width: 100%;
    }

    &__ResultCard{
        background-color: $White;
        padding: 1.5rem 1.5rem 2rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
        min-width: 35rem;
        flex: 1 1 45%;
    }

    &__ResultLink{
        border-bottom: 1px solid $Primary;
        display: inline-block;
        
    }

    &__ResultTitle{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: $Secondary;
    }
    
    &__ResultCardWrapper{
        margin-left: 4rem;
        margin-bottom: 2rem;
    }
    
    &__ResultText{
        font-size: 3.5rem;
        color: $Primary;
        margin-bottom: 1rem;
    }

    &__LabelWrapper{
        display: flex;
        align-items: center;
        margin-bottom: .6rem;

        *{
            color: $Secondary;
        }
    }

    &__ResultPostType{
        font-size: 1.5rem;
    }
    
    &__ResultHarbor{
        font-size: 1.5rem;
    }
    
    &__Slash{
        font-size: 1.5rem;
        font-weight: 900;
        margin: 0 .6rem;
    }

    &__Amenities{
        flex: 1 1 55%;
        padding: 1.5rem 1.5rem 2rem;
        background-color: $White;
        margin-bottom: 3rem;
    }

    &__AmenitieTitle{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__AmenitieList{
        list-style: none;
        margin-left: 4rem;
        margin-bottom: 2rem;
        display: inline-block;
        padding-bottom: .6rem;
        
    }

    &__AmenitieLink{
        font-size: 3.5rem;
        color: $Primary;
        margin-bottom: 1rem;
        font-weight: 700;
        border-bottom: 1px solid 
        $Primary;
        
        
    }
}