@import "./variables.scss";

// <------------- SINGLE-EVENT MAIN BODY START ------------->
.Event {
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    background-color: $Lightgray;
}

.SingleEvent {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    background-color: $White;
        
    &__MainContainer {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include p;
    // border: 1px solid black;
    }

    &__CustomFieldImageContainer {
    border: 1px solid black;
    }

    &__CustomFieldImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // border: 1px solid black;
    }

    &__Title {
        @include pageTitle;
        padding: 1.5rem 0 1.5rem 3rem;
        margin: 0;
        font-weight: 600;
        @include h1;
        color: blue;
    }

    &__Date {
        @include p;
        padding: 0rem 0 1.5rem 3rem;
        margin: 0;
        font-weight: 200;
        @include h4;
        color: blue;
        // border: 1px solid black;
    }

    &__Text {
        @include p;
        width: 100%;
        max-width: 75rem;
        padding: 0rem 0 1.5rem 3rem;
        margin: 0;
        font-weight: 200;
        // @include h2;
        color: black;
        // border: 1px solid black;
    }

    &__Button {
        @include button;
        margin-bottom: 4rem;
        border: 1px solid black;
       
   }

// <------------- SINGLE-EVENT MAIN BODY END ------------->
}