$primary: steelblue;

//OPACITY-MIXINS
@mixin bgColorOpacity($color, $opacity) {
    background-color: rgba($color, $opacity);
}

@mixin font() {
    font-family: "Montserrat", sans-serif;
}

.container {
    padding: 0rem 5rem;
    position: relative;
}

@mixin pageTitle{
    font-size: 4rem;
}
@mixin h1 {
    font-size: 3rem;
}
@mixin h2 {
    font-size: 2.5rem;
}
@mixin h3 {
    font-size: 2rem;
}
@mixin h4 {
    font-size: 1.8rem;
}
@mixin h5 {
    font-size: 1.5rem;
}
@mixin p {
    font-size: 1.5rem;
}

// SPACINGS
$spacingXxs: 0.5rem;
$spacingXs: 1rem;
$spacingS: 1.5rem;
$spacingM: 2rem;
$spacingL: 2.5rem;
$spacingXl: 3rem;

// COLORS
$White: white;
$Primary: #1070A8;
$PrimaryDark: #0b4e75;
$Secondary: #313131;
$Lightgray: #D8E3EC;
$Darkgray: #687580;


//transitions
$transition: .2s ease-in-out;

// MEDIA-QUERYS
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$screen-xxl-min: 1400px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Extra EXTRA large devices
@mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
}
